<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @item.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @item.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @item.precio %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag(@item.foto_url, :width => 600) if @item.foto.present? %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
